*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.85)),url(./assets/rDJegQJaCyGaYysj2g5XWY.jpg);
    background-size: coverñ;
    background-size: cover; */
    color:white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.container{
  height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.85)),url(https://static.seekingalpha.com/uploads/2018/8/27/48200183-15353923297627435_origin.jpg);
    background-size: cover;
}
.navigation{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
}
.logo{
    height:50px;
    padding:0px 0px 0px 150px;
}
.nav-right .language{
    color: white;
    background: none;
    cursor: pointer;
    font-size: 20px;
    padding:5px;

}
.nav-right{
    padding-right: 100px;
}
.signin{
    color: white;
    background-color: rgb(225, 29, 29);
    padding:10px 20px 10px 20px;
    border:none;
    border-radius: 5px;
    margin-left:20px;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight:700;
}
.hero{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
    padding:20px 0px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:400;
    font-size: 25px;
    padding-bottom: 30px;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 15px;
}
.down{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    width:400px;
    height:60px;
    padding:15px;
    color: rgb(111, 108, 108);
    background-color:rgba(0,0,0,0.5);
    border:1.5px solid rgb(93, 91, 91);
    border-radius: 5px;
    margin:10px;
    font-size: 20px;
}
.input:hover
{
    border: 2px  solid white;
}
.get-started{
    color: white;
    height:60px;
    width:200px;
    background-color: rgb(225, 29, 29);
    border: none;
    border-radius: 5px;
}
.get{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}
.my1{
    height:550px;
    padding-left: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:50px;
}
.netimg1{
    height:400px;
    width:600px;
}
.nethead{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight:bold;
}
.netpara
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.netimg2{
    height:400px;
    width:500px;
}